.navbar {
  width: 100%;
  height: 58px;
  background-color: #046791;
}

.navbar nav {
  padding-left: var(--grid-gutter-width);
  padding-right: var(--grid-gutter-width);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-max-width);
}

.navbar a {
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans,Helvetica,sans-serif!important;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7;
  margin: 8px 5px 8px 0;
  padding: 8px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #fff;
  color: #262626;
  text-decoration-color: var(--link__color--hover);
  text-decoration-thickness: var(--link__text-decoration-thickness--hover);
}

.navbar a:active {
  background-color: transparent;
  color: var(--link__color--active);
}

.navbar a:focus {
  color: #000;
}
